<h2>
  {{category}}</h2>
<hr style="height: 2px; width: 40vw;float: left">

<div class="row" style="clear: left">
  <ng-container *ngFor="let post of data">
    <div class="col-md-6" *ngIf="post.category==category">
      <!--card-->

      <div class="card" style="width: 25rem;height: 40rem;">
        <img class="card-img-top" src={{post.imageUrl}} alt="Card image cap" style="height:15rem">
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.desc}}</p>
        </div>

        <div class="card-body">
          <a href="#" class="card-link" [routerLink]="['/user/blog/',post.id]">Read More...</a>
         
          <ng-container *ngIf="loginStatus">
          <button type="button" *ngIf="currentUser.favourites.indexOf(post.id) === -1" class="btn btn-link" (click)="markFavorite(post)" style="float: right">
              <i class="fa fa-heart-o" aria-hidden="true" style="color: #F06292"></i>
          </button>
          <button type="button" *ngIf="currentUser.favourites.indexOf(post.id) > -1" class="btn btn-link" style="float: right">
              <i class="fa fa-heart" aria-hidden="true" style="color: #F06292"></i>
          </button>
          </ng-container>

          <p class="card-text">
            <small class="text-muted">{{post.date}}</small>
          </p>
          <footer class="blockquote-footer" style="float: right">
            <small>
                By : <cite title="Source Title">{{post.author}}</cite>
              </small>
          </footer>
        </div>
      </div>

    </div>
  </ng-container>
</div>