<!--The content below is only a placeholder and can be replaced.-->
<div class="container my-2">
  <h1>
    {{title}}!
  </h1>
<ng-container *ngIf="loginStatus">
  <button type="button" class="btn header-btn btn-link" (click)="logout()" [routerLink]="['/home']">Logout</button>
  <button type="button" class="btn header-btn btn-success" [routerLink]="['/addBlog']">Add Blog</button>
</ng-container>
  <ng-container *ngIf="!loginStatus">
    <button type="button" class="btn header-btn btn-link" [routerLink]="['/login']">Sign in</button>
    <button type="button" class="btn header-btn btn-link" [routerLink]="['/register']">Sign up</button>
  </ng-container>

</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">logo</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/Technology']">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/Medical']">Medical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/Management']">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/Favorites']" *ngIf="loginStatus">Favorites</a>
        </li>
      </ul>
      <!--
      <form class="form-inline search_bar my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
    -->
    </div>
  </div>
</nav>

<div class="container my-2">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

    <div class="col-md-3" style="background: whitesmoke">
      popular Column
    </div>
  </div>
</div>


